
<div id="wods" class="transitions-enabled">
  <% @wods.each do |wod| %>
    <div class="box panel panel-default">
    <div class="panel-body">
      <%= wod.description %>
      <%= wod.wodtime %>
      <%= link_to 'Show', wod_path(wod) %>
      <% if wod.user == current_user %>
        <%= link_to 'Edit', edit_wod_path(wod) %>
        <%= link_to 'Destroy', wod, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

