<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wod.description %>
  <strong>time:</strong>
  <%= @wod.wodtime %>
</p>
<% if @wod.user == current_user %>
<%= link_to 'Edit', edit_wod_path(@wod) %> |
<% end %>
<%= link_to 'Back', wods_path %>
