
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wod.description %>
  <strong>time:</strong>
  <%= @wod.wodtime %>
</p>
<% if @wod.user == current_user %>
<%= link_to 'Edit', edit_wod_path(@wod) %> |
<% end %>
<%= link_to 'Back', wods_path %>
    </div></div></div></div></div>
    
