<!DOCTYPE html>
<html>
<head>
  <title>Wodonomics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> $(function ()

{ $("#myModal").modal({show:false }); </script>
</head>
<body>
<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
<%= yield %>

</body>
</html>
